@import "../../../assets//styles/common.module.scss";

.double {
  background-color: $fourthColor;
}

.buttonsContainer{
  width:100%;
  height: auto;
  display:flex;
  gap:10px;
  justify-content: flex-end;
  margin-top: 20px;
}
