.faqRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.saveBtn {
    margin-top: 1%;
    display: flex;
    justify-content: flex-end;
    column-gap: 2%;
}

.editorFaqBox{
    display: flex;   
    column-gap: 1%;
}