@import "../../../assets/styles/common.module.scss";

.textField {
  width: 100% !important;
  background-color: trasparent;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
.textField::-webkit-scrollbar {
  display: none;
}
