.labelTextRow{
    display: flex;
    gap: 2px
}

.labelText{
    font-weight: 600;
    font-size: 25px;
}

.infoIcon{
    font-size: 15px
}

.popover{
    padding: 10px;
    pointer-events: none;
    max-width: 300px;
    font-size: 15px;
}