@import "../../../assets/styles/common.module.scss";

.toolbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  .logo {
    width: 4%;
  }

  .title {
    font-size: 50px;
    margin-left: 15%;
  }

  .boxRight {
    display: flex;
    justify-content: center;
    width: 20%;

    .buttonDiv {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 10%;
      cursor: pointer;

      .iconSpan {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: space-between;
      }

      .authSpan {
        width: fit-content;
      }
    }

    .menu {
      background-color: $primaryColor;
    }

    .langBtn {
      cursor: pointer;
    }

    .langBtnSelected {
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 600px) {
  .toolbar {
    .title {
      font-size: 25px;
      margin-left: 5%;
    }

    .boxRight {
      width: 30%;
    }
  }
}
