.textFields {
    display: flex;
    flex-direction: column;
    
}

.row{
    display: flex;
    gap: 2%;
    margin-bottom: 2%;
}

.saveBtn {
    margin-top: 1%;
    display: flex;
    justify-content: flex-end;
    column-gap: 2%;
}