@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;700&display=swap%27");

//colors
$primaryColor: #262e36;
$secondaryColor: #b12009;
$ternaryColor: #a4b3ad;
$fourthColor: #ffffff;
$fifthColor: #f2f4f3;

:export {
  primaryColor: $primaryColor;
  secondaryColor: $secondaryColor;
  ternaryColor: $ternaryColor;
  fourthColor: $fourthColor;
  fifthColor: $fifthColor;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .content {
    width: 100%;
    height: 80%;
    display: flex;
    background-color: $fifthColor;

    main {
      width: 80%;
      height: 100%;
      overflow-y: scroll;
      padding: 3%;

      .component {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5%;

        .doubleComponent {
          width: 100%;
          display: flex;
          gap: 4%;

          .left {
            width: 48%;
          }

          .right {
            width: 48%;
          }
        }

        .singleComponent {
          width: 100%;
        }
      }
    }
  }
}
