@import "../../assets/styles/common.module.scss";
.container {
  background-image: url("../../assets/media/background104.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .btnContainer {
    position: relative;
    width: 200px;
    height: 100vh;
    .button {
      position: absolute;
      bottom: 100px;
      width: 100%;
      padding: 20px;
      border-radius: 30px;
      background-color: $secondaryColor;
    }
  }
  .textContainer {
    margin-top: 50px;
    .oops {
      font-size: 80px;
      font-weight: bolder;
      color: #414a51;
    }
  }
}
